body{
			background-image: url('bg.jpg');
			background-repeat: no-repeat;
			margin: 0;
			background-size: 200%;
		}

		#top{
			
			
			height: 400px;
 	width: 80%;
 	
 	
		margin-left: 10%; 
		margin-right: 10%
		margin-top: 100px; 
		margin-bottom: 40px;
		}


		#right{
			background-color: #33ffff;
			height: 100%;
 	width: 40%;
			margin-bottom: 50px;
			float: right;
			border-radius: 20px;
			box-shadow: 0 0 5px black;
		}

		#left{
			background-color: #33ffff;
			height: 100%;
 	width: 40%;
 	margin-right: 20px;
			margin-bottom: 50px;
			float: left;
			
			border-radius: 20px;
			box-shadow: 0 0 5px black;
		}
		#h{
			width: 100%;
			height: 100px;


		}

		#ctc{
			width: 100%;
			height: 250px;
			background-color:#100b42 ;

		}
		#ctc2{
			width: 100%;
			height: 80px;
			background-color: #03fc9d;
			margin-bottom: 50px;

		}

		#kid2{
			float:initial;
			height: 500px;
			width: 500px;
		}
		#icon{
			display: inline;
			height: 100%;
			width: 100px;
		}
		#dv1{
			background-color: #03fc9d;
		}
		#dv2{
			padding-top: 100px;

		}
		#kid1{
			margin-top: 50px;

		}
		#t2{
			color: #100b42;
			font-size: 35px;
			font-family: system-ui;
		}
		#t3{
			color: #100b42;
			font-family: system-ui;
			
		}
		#t1{
			color: #780d0d;
			font-family: system-ui;
		}

		#tel{
			
			display: inline;
			margin-left: 100px;
		}
		
		#hdr{
			display: inline;
			color: #100b42;
			font-family: system-ui;
		}
		#cnx{
			size: 30px;

		}
		a{
			color: #780d0d;
			font-size: 22px;
			text-decoration: none;
			
		}
		a:hover{
			color:grey;

		}

		#p3{
			color: white;
			font-family: system-ui;
		}
		#hdr3{
			color: white;
			font-family: system-ui;
		}
		
		#p5{
			font-family: system-ui;
			font-size: 14px;
		}

		#phone{
height: 20px;
width: 20px;
margin-right: 10px;
		}
		.icons{

			margin-top: 10px;
			height: 150px;
			width: 150px;
		}
		#iconctr{
			display: inline;
		}
		#hctr{
			float: right;
			margin-top: 40px;
			margin-right: 25px;
		}
		#hg{
			color: #100b42;
		}
		.txt{
			font-family: system-ui;
		}
		#infos{
			margin-top: 40px;
		}
		#btnctrs{
			float: right;
			margin-top: 30px;
			margin-right: 30px;

		}
		#btnctrp{
			float: right;
			margin-top: 50px;
			margin-right: 30px;
		}
		#btn{
			
			display: inline;
			margin-left: 700px;
			height: 100px;
		}
		#lst{
			color: #100b42;
		}
		#suivant{
			height: 30px;
			width: 100px;
			display: block;
			border:2px solid black;
			color: white;
			background-color:#100b42;
			position: relative;
			border-radius: 15px;
		}

		#goodie{
		height: 150px;
		width: 400px;
		float: right top;
		display: inline;

	}
	#gdd{
		display: inline;
		float: right;

	}